<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head (pageTitle)">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'Farmed - ' + ${pageTitle}">Farmed</title>
    <link rel="icon" type="image/png" th:href="@{/images/LogoFarmed.png}" />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style type="text/tailwindcss">
        * {
            font-family: Raleway, sans-serif;
        }

        @theme {
            --color-primary-50: #8ADCFF;
            --color-primary: #3D9AC2;
            --color-accent: #FF6B48;
            --color-accent-hover: #CF3915;
        }
    </style>
</head>
</html>